@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header_all {
  width: 100%;
  background-color: rgb(245, 245, 245);
  position: fixed;
  z-index: 9999;
}
.inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
.header_nav ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.header_nav ul li {
  display: table-cell;
}
.header_nav ul li a {
  display: block;
  margin: 5px 25px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.header_nav ul li a:hover {
  color: #888;
  border-bottom: solid 2px rgb(180, 176, 176);
}

.header_nav ul li a span {
  display: block;
  font-size: 15px;
}
.top_all {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  background: url("../img/top.png") no-repeat center;
  background-size: cover;
}

.top_all::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.top_inner {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgb(235, 235, 235, 0.5);
}

.top_inner h1 {
  font-size: 60px;
  font-weight: 500;
  color: black;
}

.top_inner p {
  font-size: 20px;
  font-weight: 700;
  color: black;
}
.txt0,
.txt01 {
  border: 2px solid #c69d18;
  position: relative;
}
.txt0 h3,
.txt01 h3 {
  font-size: 25px;
}
.txt0:after,
.txt01:after {
  position: absolute;
  top: 2px;
  left: -4px;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -999;
  background-color: #fe9;
}
.section {
  padding: 150px 0;
}
.about_img {
  position: relative;
}

.about_img::after {
  content: "";
  position: absolute;
  background: url("../img/about.png") no-repeat center;
  background-size: cover;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

.concept_img {
  position: relative;
}

.concept_img::after {
  content: "";
  position: absolute;
  background: url("../img/concept.png") no-repeat center;
  background-size: cover;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
}
.descript {
  width: 40%;
  height: 50%;
}

.descript_right {
  margin-left: 60%;
}
.title {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
  line-height: 1.4;
  font-size: 40px;
  font-weight: bold;
  color: #555;
}

.title span {
  display: block;
  font-size: 15px;
}
.txt h3 {
  font-size: 25px;
  color: #555;
  margin-bottom: 20px;
}

.txt p {
  color: #555;
}

.txt p strong {
  font-weight: bold;
  color: #555;
  background: linear-gradient(transparent 60%, #fe9);
}
/*detailについて*/
.frame {
  display: inline-block;
  width: 35%;
  height: 100%;
  background-color: #eee;
  border-radius: 5px;
  margin: 30px;
  padding: 40px;
}
.txt h3 span {
  display: block;
  font-size: 20px;
}
.sub_title {
  position: relative;
  font-size: 18px;
  color: #333;
  padding: 10px 0;
}

.sub_title::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 1;
  background-color: #333;
  width: 5%;
  height: 2px;
  margin-top: -1px;
}
.photo {
  width: 340px;
  height: 220px;
}
.price {
  font-size: 17px;
  text-align: center;
  color: #803333;
  padding-top: 15px;
}

.price span {
  margin-right: 5px;
  font-style: italic;
  font-size: 20px;
}

.price em {
  font-style: italic;
  font-size: 45px;
}
.sub_title span {
  position: relative;
  padding-right: 10px;
  font-size: 22px;
}
/*profileについて*/
.profile_section {
  text-align: center;
  padding: 0 auto;
  height: 300px;
}
.profile_1 {
  display: flex;
  justify-content: space-evenly;
  border: solid 3px #888;
  border-radius: 10px;
  margin: 0 10%;
}
#detail {
  background-color: rgb(245, 245, 245);
}
#contact {
  background-color: rgb(245, 245, 245);
  height: 60px;
}
#blog {
  background-color: rgb(245, 245, 245);
}
.profile_2 {
  display: flex;
  justify-content: space-evenly;
  border: solid 3px #888;
  border-radius: 10px;
  margin: 0 10%;
}
.txt2 {
  width: 20%;
}
.intro {
  display: flex;
}

.intro_img {
  padding-left: 20px;
  text-align: center;
}
.list {
  text-align: webkit match parent;
}
.txt ul {
  padding: 10px;
}

.txt ul li {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
}

.txt ul li:before {
  content: "●";
  position: absolute;
  left: 0;
  color: #555;
}
.txt table th {
  padding-right: 10px;
  border-right: solid 3px #fe9;
}

.txt table td {
  padding-left: 10px;
}
.blog_block {
  display: inline-table;
  margin: 5px;
}
.blog_body {
  margin-top: 10px;
}

.blog_body h3 {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

.blog_body p {
  font-size: 14px;
  color: #555;
}
.button {
  text-align: center;
  padding: 15px;
  background-color: #fe9;
  border-radius: 10px;
  width: 25%;
  margin: 0 auto 150px;
}
#contact {
  padding-top: 70px;
}
.button:hover {
  cursor: pointer;
  background-color: #ff6;
}

.button a {
  font-size: 18px;
  color: #555;
}
.bottom {
  background-color: #555;
  text-align: center;
  color: #eee;
}

.footer_logo {
  text-align: center;
}

.footer_logo img {
  width: 200px;
}

.footer_sns {
  text-align: center;
}

.footer_sns li {
  list-style: none;
}

.footer_sns li a img {
  width: 70px;
}
